@model x265Com.Models.WatchFolderModel
@{
    ViewBag.Title = "Watch Folder";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Watchfolder.css" />
</head>

<div class="jumbotron">
    <h1>WatchFolder</h1>
</div>
<h2>@Model.FolderName</h2>
<div>
    <table>
        <tr>
            <th>Convertir</th>
            <th>File Name</th>
            <th>File Type</th>
            <th>Length</th><!--
            <th>Job Progress</th>
            <th>Job State</th>
            <th>Job Duration</th>
            <th>Output File</th>
            <th>View File</th>-->
        </tr>
        @foreach (x265Com.Models.FileModel _File in Model.FileModels)
        {
            <tr>
                <td>@_File.FileName</td>
                <td>@_File.FileType</td>
                <td>@_File.FileLength</td><!--
                <td>
                    <progress id="avancement" max="100" value="50">25%</progress>
                    @*<span id="pourcentage"></span>
                    <input type="button" onclick="modif(-10);" value="-">
                    <input type="button" onclick="modif(10);" value="+">
                    <script type="text/javascript" src="~/Scripts/AvancementBaliseProgress.js"></script>*@
                </td>
                <td></td>
                <td></td>  
                <td>@*_File.FileName*@</td> 
                <td><a href="~/Views/Home/Monitor.cshtml">@*_File.FileName*@</a></td>             -->
            </tr>
        }
    </table>
</div>
<div>
    @Html.Partial("_BundleConversion", new x265Com.Models.ConversionModel())
</div>